:root {
    --bg: #f6f3ef;
    --accent: #196BB4;
    --text: #333;
    --subtext: #888;
    --max-width: 720px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Lato, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    overflow: visible;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: transparent;
    /*z-index: 1;*/


    /*height: 60px;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: space-between;*/
    /*padding: 0 20px;*/
    z-index: 1000;
}

.logo {
    color: var(--bg);
    font-size: 0.9rem;
    /*position: absolute;*/
    /*    top: 20px;*/
    /*    left: 20px;*/
        font-weight: 500;
        /*z-index: 1;*/
}

/* Hamburger */
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 3000;
    /*!*width: 30px;*!*/
    /*height: 24px;*/
    justify-content: space-between;
    position: relative;
    /*display: flex;*/
    padding: 6px;
    /*margin-right: 8px;*/





}

.burger.active span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger.active span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

.burger span {
    height: 2px;
    width: 25px;
    background: white;
    margin: 4px 0;
    transition: 0.3s;
    z-index: 9000;
}

/* Menu */
.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-links li {
    margin-left: 20px;
}

.lang-switch {
    display: flex;
    align-items: center;
    gap: 8px;
}

.lang {
    color: #bbb;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;
}

.lang:hover {
    color: #fff;
}

.lang.active {
    color: #ffcc00;
}

.separator {
    color: #777;
}




.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 8px 0;
}

.nav-links li a:hover {
    color: #ffcc00;
}

/* Language switcher */
#language-switcher {
    /*padding: 5px;*/
}

#language-switcher {
    display: inline-block;

}



header {
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 250px;
}

.header-content {
    text-align: left;
    color: var(--bg);
    z-index: 1;
}

header h1 {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.02em;
    text-align: left;
    font-size: clamp(3rem, 4vw, 3rem);
    font-weight: 700;
    line-height: 2;
}

#typing-text {
    font-size: 2rem;
    font-weight: bold;
    border-right: 3px solid var(--bg);
    white-space: nowrap;
    display: inline-block;
    animation: blink 0.7s step-end infinite;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.header-bg {
    position: fixed;
    inset: 0;
    z-index: 0;

    background-image:
            linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8)),
            url("images/header-bg-desktop.webp");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content {
    position: relative;
    z-index: 1;
    background: var(--bg);
    /*max-width: var(--max-width);*/
    margin: 0 auto;
    padding: 200px 250px 20px 250px;
    border-radius: 24px 24px 0 0;
    box-shadow: 0 -20px 60px rgba(0, 0, 0, 0.2);
}

.content section {
    margin-bottom: 98px;
}
.content h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    margin-bottom: 24px;
    font-weight: 500;
    color: var(--accent);
    text-align: left;
}

.content p {
    line-height: 1.7;
    color: var(--text);
    margin-bottom: 16px;
    font-size: 1.2rem;
}

.content ul li {
    font-size: 1.2rem;
    margin-bottom: 16px;
    position: relative;
    padding-left: 28px;
    text-align: left;
    color: var(--text);
}

.content ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.15em;
    width: 16px;
    height: 16px;
    background-image: url("images/bullet.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.content ul {
    list-style: none;
    padding-left: 0;
}

.content .role {
    margin-bottom: 32px;
}

.content .role-title {
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--text);
    margin-bottom: 12px;
}

.content .role-org {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
    color: var(--text);
}

.content .role-desc {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--subtext);
}

section a {
    font-size: 1.2rem;
    color: var(--subtext);
    text-decoration: none;
}

section a:hover{
    color: var(--text);
}

footer {
    width: 100%;
    text-align: center;
}

.footer-social-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 8rem;
}

.footer-social i{
    color: var(--subtext);
    display: inline-block;
    font-size: 1.4rem;
}

footer h1 {
    color: var(--text);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    margin:2rem 0 2rem 0;
    line-height: 1.4em;
    text-align: center;
}

footer i:hover {
    color: var(--accent);
}

footer .copyright {
    color: var(--subtext);
    font-size: 0.6rem;
    font-weight: 100;
}


.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1500;
    display: none;
}

.overlay.active {
    display: block;
}

@media (max-width: 1200px) {
    .header-bg {
        background-image:
                linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8)),
                url("images/header-bg-tablet.webp");
    }

    .content {
        padding: 80px 40px;
        border-radius: 20px 20px 0 0;
    }

    header .header-content {
        text-align: left;
    }
    header {
        padding: 0 40px;
    }
    header h1 {
        line-height: 1.2;
        margin-bottom: 44px;
    }
}

@media (max-width: 768px) {
    .header-bg {
        position: absolute;
        background-image:
                linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8)),
                url("images/header-bg-mobile.webp");
    }
    .content {
        padding: 80px 20px 10px 20px;
        border-radius: 20px 20px 0 0;
    }

    header .header-content {
        text-align: left;
    }
    header {
        padding: 250px 20px;
        align-items: normal;

    }
    header h1 {
        font-size: 2.5rem;
        line-height: 1.2;
        margin-bottom: 2rem;
    }

    #typing-text {
        font-size: 1.5rem;
        font-weight: 700;
        opacity: 0.85;
        border-right: 0 solid var(--bg);
        white-space: normal;   /* allow wrapping */
        word-break: break-word;
        text-align: left;
    }

    .content .role {
        margin-bottom: 24px;
    }
    .burger { display: flex; }

    .nav-links {
        position: fixed;
        top: 60px;
        right: -100%;
        /*width: 200px;*/
        height: calc(100% - 60px);
        background-color: rgba(0,0,0,0.8);
        flex-direction: column;
        align-items: center;
        /*transition: 0.3s;*/
        z-index: 5000;

        /*height: 100vh;*/
        width: 260px;
        /*justify-content: center;*/
        gap: 30px;
        transition: right 0.3s ease;
    }

    .nav-links.active { right: 0; }

    .lang-switch {
        justify-content: center;
    }

    #first-line{
        margin-top: 30px;
    }

    /*.nav-menu li { margin: 20px 0; }*/
}